<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Sensor</title>
</head>
<body>
<h1>Create a New Sensor</h1>
<form th:action="@{/SensorData/createSensor}" th:object="${sensor}" method="post">
    <label for="name">Sensor Name:</label>
    <input type="text" id="name" th:field="*{name}" placeholder="Sensor Name"/><br/>

    <label for="type">Sensor Type:</label>
    <input type="text" id="type" th:field="*{type}" placeholder="Sensor Type"/><br/>

    <label for="unit">Unit of Measurement:</label>
    <input type="text" id="unit" th:field="*{unit}" placeholder="Unit"/><br/>

    <button type="submit">Create Sensor</button>
    <button type="button" onclick="window.location.href='/'">Cancel</button>
</form>
</body>
</html>
