<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sensor Details</title>
</head>
<body>

<h2>Sensor Details</h2>

<!-- Display sensor details -->
<h3>Sensor ID: <span th:text="${sensorId}"></span></h3>
<h3>Sensor Name: <span th:text="${sensorName}"></span></h3>
<h3>Sensor Type: <span th:text="${sensorType}"></span></h3>
<h3>Sensor Unit: <span th:text="${sensorUnit}"></span></h3>

<a th:href="@{/}">Return to Home</a>

</body>
</html>
